.navbar {
  margin-bottom: 0;
}
.main-article {
  position: relative;
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
}
.sub-article {
  position: relative;
  text-align: center;
}
.sub-article-2 {
  position: relative;
  text-align: center;
}
.text-box {
  position: absolute (0 0 0);
}
.img-responsive {
  width: 100%;
}
li {
  list-style: square;
  list-style-position: inside;
  color: red;
}

